* {
  box-sizing: border-box;
}
body {
  background: url(../../images/main-bg.png);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 110%;
  -webkit-overflow-scrolling : touch;
}
.main-wrapper {
  -webkit-text-size-adjust: 100%;
  overflow: scroll;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
a {
  line-height: 110%;
  text-decoration: none;
  color: #17BCF9;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
a:hover {
  color: #177091;
}
h1 {
  position: relative;
  display: block;
  width: 1200px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 100px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
h1 a {
  color: #F3FF88;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}
h1 a:hover {
  color: #F3FF88;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
}
h1 span {
  color: #7EFF80;
  font-size: 75px; 
  font-style: italic;
  position: absolute;
  right: 50%;
  bottom: -70px;
  margin-right: -300px;

}
h2 {
  display: block;
  font-size: 30px;
  line-height: 110%;
  text-shadow: 1px 1px 3px #FFF;
  font-weight: 800;
  margin: 40px 0 10px;
}
h3 {
  font-size: 30px;
}

#header {
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #888;
  box-shadow: 0 1px 3px #AAA;
  position: fixed;
  z-index: 300;
  font-family: 'Cabin Sketch', cursive;
}
.gnav {

}
.gnav li {
  display: inline-block;
}
.gnav li a {
  padding: 5px 40px;
  text-align: center;
  display: block;
  font-size: 33px;
  font-weight: 800;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  margin-left: -1px;
}

.content-wrapper {
  width: 1200px;
  margin: 30px auto;
  padding: 30px 0 150px;
}
#main {
  width: 800px;
  box-shadow: 1px 1px 3px rgba(0,0,0,1);
  display: inline-block;
  text-align: left;
  margin: 0 20px;
}
.top-title {
  font-size: 30px;
  font-weight: 800;
  padding: 20px 35px;
  background: rgba(71,71,71,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(71,71,71,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 100%);
  background: radial-gradient(ellipse at center, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#131313', GradientType=1 );
}
.main {
  background: #FFF;
  color: #333;
  padding: 20px 35px;
}
.fixed {
  position: fixed;
  top: 80px;
  width: 360px;
}



#side {
  width: 350px;
  color: #333;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
#main iframe {
  width: 560px;
  height: 360px;
  margin: 20px 0;
}

.side-bar {
  background: #FFF;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,1);
}
.side-bar li {
  border-bottom: 1px solid #cccccc;
}



.go-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #111;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
  display: table;
  cursor: pointer;
  box-shadow: 1px 1px 3px #AAA;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.go-bottom {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #111;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
  display: table;
  cursor: pointer;
  box-shadow: 1px 1px 3px #AAA;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.go-top p,
.go-bottom p{
  vertical-align: middle;
  display: table-cell;
}
.go-top span,
.go-bottom span {
  height: 50px;
  width: 50px;
  display: block;
  position: relative;
}

.top-icon,
.bottom-icon {
  overflow: hidden;
  height: 25px;
}

.top-icon:before {
  content: '';
  height: 15px;
  width: 15px;
  display: block;
  border: 5px solid #FFF;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: 19px;
  left: 15px;
}

.bottom-icon:before {
  content: '';
  height: 15px;
  width: 15px;
  display: block;
  border: 5px solid #FFF;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  position: absolute;
  top: 11px;
  left: 15px;
}


.go-top:hover,
.go-bottom:hover {
  opacity: 0.6;
}
.social-area {
  position: absolute;
  right: 1%;
  top: 3%;
  z-index: 900;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.adsense {
  position: fixed;
  width: 500px;
  bottom: 0px;
  left: 50%;
  margin-left: -320px;
  z-index: 300;
}
.adsbygoogle2 {
  display: inline-block;
  width: 350px;
  height: 280px;
  z-index: 300;
  margin-bottom: 20px;
}
.adsbygoogle {
  display: inline-block;
  width: 728px;
  height: 90px;
  z-index: 300;
}

inc {
  background: none;
}

@media screen and (max-width: 900px){
  .content-wrapper {
    width: 100%;
  }
  h1 {
    font-size: 70px;
    width: 100%;
  }
  h1 span {
    font-size: 32px;
    position: relative;
    right: 0;
    bottom: 0;
    margin-right: 0px;
  }
  h2 {
    font-size: 24px;
  }
  .social-area img {
    width: 160px;
  }
  .adsbygoogle2 {
    margin: 20px 0;
  }
  #main {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px){
  h1 {
    font-size: 60px;
  }
  .adsense {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 0;
  }
  .adsbygoogle {
    width: 100% !important;
    height: 50px;
    z-index: 0;
  }
  .go-top,
  .go-bottom {
    bottom: 53px;
  }
  #main {
    width: 100%;
    margin: 0 auto;
  }
  #main iframe {
    width: 100%;
    height: auto;
  }
  .top-title {
    font-size: 20px;
  }
}