* {
  box-sizing: border-box;
}
body {
  background: url(../../images/main-bg.png);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 110%;
  -webkit-overflow-scrolling : touch;
}
.main-wrapper {
  -webkit-text-size-adjust: 100%;
  overflow: scroll;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
a {
  line-height: 110%;
  text-decoration: none;
  color: #17BCF9;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
a:hover {
  color: #177091;
}
h1 {
  display: block;
  width: 100%;
  font-family: 'Cabin Sketch', cursive;
  font-size: 100px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
h1 a {
  color: #F3FF88;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}
h1 a:hover {
  color: #F3FF88;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
}
h2 {
  display: block;
  font-size: 30px;
  color: #FA2525;
  text-shadow: 1px 1px 3px #FFF;
  font-weight: 800;
  margin-bottom: 50px;
  text-align: center;
}
#fixed {
  box-shadow: 0 -1px 6px rgba(0,0,0,0.3);
}
.tabs {
  display: inline-block;
  z-index: 500;
}

.tab {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  float: left;
  z-index: 500;
  top: 0;
}

.tab:last-child {
  margin-right: 0;
}

.tab p {
  line-height: 3;
  cursor: pointer;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN","メイリオ","Meiryo";
}

.tab.turnBoxCurrentFace1 > .turnBoxFaceNum1 {
  background-color: #3f3f3f;
}

.tab.turnBoxCurrentFace1 > .turnBoxFaceNum1:hover {
  background-color: #373737;
}
.tab-1.turnBoxCurrentFace2 > .turnBoxFaceNum2 {
  background: #FAF34C;
  text-shadow: 1px 1px 3px #AAA;
}
.tab-2.turnBoxCurrentFace2 > .turnBoxFaceNum2 {
  background: #F76666;
  text-shadow: 1px 1px 3px #AAA;
}
.tab-3.turnBoxCurrentFace2 > .turnBoxFaceNum2 {
  background: #0094ef;
  text-shadow: 1px 1px 3px #AAA;
}

.tab .turnBoxFaceNum1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.tab .turnBoxFaceNum2 {
  background-color: rgba(0, 148, 239, 0.1);
}

.content-box {
  font-size: 20px;
  color: #3f3f3f;
  margin: -3px auto 0;
  -webkit-text-size-adjust: 100%;
  overflow : scroll;
}
.content-box.turnBoxCurrentFace1 > .turnBoxFaceNum1, .content-box.turnBoxCurrentFace2 > .turnBoxFaceNum2, .content-box.turnBoxCurrentFace3 > .turnBoxFaceNum3 {
  background-color: #FFF;
}
.content-box .turnBoxFace {
  background-color: #afafaf;
}

#topics {
  overflow: scroll;
  text-align: center;
  background: #DDD;
}
.c_article {
  position: relative;
  width: 25%;
  height: 400px;
  background: #FFF;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  padding: 1%;
  -webkit-overflow-scrolling : touch;
  letter-spacing: normal;
  /*border-bottom: 1px solid #B3B3B3;*/
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
  box-sizing: border-box;
  border-right: 1px solid #DDD;
}
.c_article:nth-child(2n+1) {
  /*background: #EEE;*/
}
.c_article:hover {
  background: #EEE;
  /*opacity: 0.6;*/
}
.p_article {
  padding: 2%;
}
h3 {
  font-size: 15px;
  display: table;
  color: #333;
}
h3 span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
h3 img {
  display: table-cell;
  vertical-align: middle;
  margin-top: 2px;
}
.date {
  font-size: 14px;
  margin-bottom: 5%;
}
.page-img {
  margin-bottom: 5%;
}
.a_img {
  width: 100%;
}
.img-height {
  max-height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
}
h4 {
  font-size: 20px;
  color: #34B8C3;
  font-weight: 800;
}
.text {
  font-size: 14px;
  margin-top: 5%;
  color: #333;
}
.table {
  display: table;
}

.content {
  padding: 5% 3%;
  line-height: 1.5;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  overflow : scroll;
  /*position: fixed;*/
}
.top-text {
  margin: 0 0 5%;
}
.doc-link {
  display: block;
  font-size: 28px;
  font-weight: 800;
  color: #FFF;
  padding: 2% 0%;
  margin: 3% 4%;
  display: inline-block;
  width: 360px;
  box-shadow: 1px 1px 3px #AAA;
  border-radius: 50px;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.web {
  background: #42CDFF;
}
.ios {
  background: #33CD75;
}
.android {
  background: #FFC966;
}
.git {
  background: #F4315E;
}
.web:hover {
  background: #FFF;
  border: 3px solid #42CDFF;
  color: #42CDFF;
}
.ios:hover {
  background: #FFF;
  border: 3px solid #33CD75;
  color: #33CD75;
}
.android:hover {
  background: #FFF;
  border: 3px solid #FFC966;
  color: #FFC966;
}
.git:hover {
  background: #FFF;
  border: 3px solid #F4315E;
  color: #F4315E;
}
.bg1 {
  border-top: 3px solid #FAF34C;
}
.bg2 {
  border-top: 3px solid #FF4F4F;
  border-left: 20px solid #FF4F4F;
  border-right: 20px solid #FF4F4F;
  border-bottom: 20px solid #FF4F4F;
  box-sizing: border-box;
}
.bg3 {
  border-top: 3px solid #0094ef;
  border-left: 20px solid #0094ef;
  border-right: 20px solid #0094ef;
  border-bottom: 20px solid #0094ef;
  box-sizing: border-box;
}

.about-inner {
  width: 60%;
  margin: 0 auto;
}

.fw800 {
  font-weight: 800;
}
.go-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #111;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
  display: table;
  cursor: pointer;
  box-shadow: 1px 1px 3px #AAA;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.go-bottom {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #111;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
  display: table;
  cursor: pointer;
  box-shadow: 1px 1px 3px #AAA;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.go-top p,
.go-bottom p{
  vertical-align: middle;
  display: table-cell;
}
.go-top span,
.go-bottom span {
  height: 50px;
  width: 50px;
  display: block;
  position: relative;
}

.top-icon,
.bottom-icon {
  overflow: hidden;
  height: 25px;
}

.top-icon:before {
  content: '';
  height: 15px;
  width: 15px;
  display: block;
  border: 5px solid #FFF;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: 19px;
  left: 15px;
}

.bottom-icon:before {
  content: '';
  height: 15px;
  width: 15px;
  display: block;
  border: 5px solid #FFF;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  position: absolute;
  top: 11px;
  left: 15px;
}


.go-top:hover,
.go-bottom:hover {
  opacity: 0.6;
}
.social-area {
  position: absolute;
  right: 1%;
  top: 3%;
  z-index: 900;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.adsense {
  position: fixed;
  width: 500px;
  bottom: 0px;
  left: 50%;
  margin-left: -320px;
  z-index: 300;
}
.adsbygoogle {
  display: inline-block;
  width: 728px;
  height: 90px;
  z-index: 300;
}

inc {
  background: none;
}

@media screen and (max-width: 900px){
  .tab {
    font-size: 16px;
  }
  .tab p {
    padding-top: 3%;
  }
  .c_article {
    width: 50%;
  }
  .content-box {
    font-size: 14px;
  }
  .content {
    padding-top: 10%;
  }
  .about-inner {
    width: 80%;
  }
  .bg2 {
    border-top: 3px solid #FF4F4F;
    border-left: 5px solid #FF4F4F;
    border-right: 5px solid #FF4F4F;
    border-bottom: 5px solid #FF4F4F;
    box-sizing: border-box;
  }
  .bg3 {
    border-top: 3px solid #0094ef;
    border-left: 5px solid #0094ef;
    border-right: 5px solid #0094ef;
    border-bottom: 5px solid #0094ef;
    box-sizing: border-box;
  }
  h2 {
    font-size: 24px;
  }
  .doc-link {
    font-size: 18px;
    width: 85%;
    padding: 5% 0;
  }
  .social-area img {
    width: 160px;
  }
}
@media screen and (max-width: 640px){
  .c_article {
    width: 100%;
    border-right: none;
  }
  .about-inner {
    width: 90%;
  }
  .content-box {
    font-size: 14px;
  }
  .tab-3 p {
    font-size: 100%;
    padding-top: 13px;
    line-height: 1;
  }
  .adsense {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 0;
  }
  .adsbygoogle {
    width: 100% !important;
    height: 50px;
    z-index: 0;
  }
  .go-top,
  .go-bottom {
    bottom: 53px;
  }
}